<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="stylesheet/main.css"/>
    <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            });
        });

    </script>
    <title>{% block title %}Rominet Cuisine{% endblock %}</title>
</head>
<body>
    <div id='centring'>
        <!-- ######### HEADER ######### -->
        <div id='bandeau'></div>
        <div id="menu">
            <div id="align_menu">&nbsp;</div>
            {% for menu in menus %}
                <div>
                    <a href="{{ menu.url }}">{{ menu.title }}</a>
                    {% if menu.submenus %}
                        <ul style="display: none;">
                        {% for submenu in menu.submenus %}
                            <li><a href="{{ submenu.url }}">{{ submenu.title }}</a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <!-- ######### HEADER END ######### -->

        <!-- ######### LEFT COLUMN ######### -->
        <div id='left_nav'>
            <ul>
            {% for menu in left_nav %}
                <li><a class="{{ menu.class }}"   href="{{ menu.href }}">{{ menu.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <!-- ######### LEFT COLUMN END ######### -->

        <!-- ######### MIDDLE COLUMN ######### -->
        <div id='middle_column'>
            {% if msg %} 
                <div id='msg' class='{{ msg_type }}'> 
                        {{ msg }}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <!-- ######### MIDDLE COLUMN END ######### -->

        <!-- ######### RIGHT COLUMN ######### -->
        <div id="right_column">
            <div id="right_column_logo"></div>
            {% if connected_user %}
                <div id="is_connected"> 
                        <b class="orange">Utilisateur : {{ connected_user }}</b>
                </div>
            {% endif %}
            <div>
                <form method="post" action="/connect">
                    <fieldset>
                        <legend><b id="green">&nbsp;S'identifier&nbsp;</b></legend>
                        <input size="9" type="text" value="Login" name='login'><input type="text" size="9" value="Password" name='pwd'/>
                        <input type="image" src="/picture/valid.png" alt="Submit button" border=0px />
                    </fieldset>
                </form>
            </div>
            <div id="search">
                <form method="get" action="receipe?action=receipe_seek">
                    <fieldset>
                        <legend><b id="green">&nbsp;Rechercher&nbsp;</b></legend>
                        <input type="text" name="search" size="20" />
                        <input type="image" src="/picture/valid.png" onClick="window.alert('Fonctionnalité non encore implémentée'); return false;" border=0px />
                        <!-- alt="Submit button" -->
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- ######### RIGHT COLUMN END ######### -->
    </div>

    <!-- ######### FOOTER ######### -->
    <div id="foot"></div>
    <!-- ######### FOOTER END ######### -->
</body>
</html>
