{% extends "base.html" %}

{% block content %}
    <div id="titre1">
        <h1>{{ receipe.name }}</h1>
    </div>
    <div id='middle_column2'>
        <div id="receipe_feature">
            Note :&nbsp;&nbsp;&nbsp;<img src="/picture/note{{ receipe.mark }}.png"><br/>
            Coût :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/picture/cout{{ receipe.price }}.png"><br/>
            Difficulté :&nbsp;&nbsp;&nbsp;<img src="/picture/level{{ receipe.toughness }}.png"><br/>
        </div>
        <div id="ingredient">
            <h2>Ingrédients pour {{ receipe.quantity }}</h2>
                {% for receipe in ingredients.receipes %}
                    <div id="subreceipe">
                        <div id="subreceipe_name">{{ receipe.name }}</div>
                        <ul>
                            {% for ingredient in receipe.ingredients %}
                               <li>- {{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                </ul>
        </div>
        <div id="preparation">
            <h2>Préparation</h2>
            <ul>
                {% for step in preparation %}
                   <li>{{ step }}</li>
                {% endfor %}
            </ul>
        </div>
        {% if receipe.advice %}
            <div id="advice" >
                <h2>Conseil</h2>
                {{ receipe.advice}}
            </div>
        {% endif %}
    </div>
{% endblock %}
